<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alerta</title>
</head>
<body style="font-family: Helvetica, Arial, sans-serif;  margin: 0; padding: 0 0 0 10px;">
    <p style="font-size: 20px; color:#333333; margin: 0; padding: 15px 0; font-weight:bold;">Oferta detectada</p>
            
    <p style="margin-bottom: 10px; margin-top: 0;">
        Hola,<br>
        el juego <strong th:text="${gameName}"></strong> está en oferta:
    </p>

    <p th:if="${oldPrice.discount() > 0}" style="margin: 0; padding-bottom: 15px;">
        <span style="display: block;">Precio anterior</span>
        <span style="font-weight: bold; padding-right: 5px;">
            <span style="text-decoration: line-through; color:#999999;">
                <span th:text="${oldPrice.initialPriceFormatted()}"></span>
            </span>
        </span>     

        <span style="font-weight: bold;">
            <span th:text="${oldPrice.finalPriceFormatted()}"></span>
        </span>

        <span style="color: #27ae60; padding-left: 2px;">
            -<span th:text="${oldPrice.discount()}"></span>%
        </span>
    </p>

    <p style="margin: 0; padding: 0;">
        <span style="display: block;" th:if="${oldPrice.discount() > 0}">Precio actual</span>
        <span style="font-weight: bold; padding-right: 5px;">
            <span style="text-decoration: line-through; color:#999999;">
                <span th:text="${newPrice.initialPriceFormatted()}"></span>
            </span>
        </span>     

        <span style="font-weight: bold;">
            <span th:text="${newPrice.finalPriceFormatted()}"></span>
        </span>

        <span style="color: #27ae60; padding-left: 2px;">
            -<span th:text="${newPrice.discount()}"></span>%
        </span>
    </p>

    <a style="margin-top:25px; background-color:#347bb9;
        color:#ffffff;
        text-decoration:none;
        padding:12px 24px;
        border-radius:4px;
        font-weight:bold;
        display:inline-block;
        cursor: pointer;" role="link" th:href="${gameSteamUrl}">
    Ver en Steam
    </a>
</body>
</html>