@let _isAuthenticated = isAuthenticated();

<div class="w-full h-fit bg-(--surface-2) sticky top-0 shadow-lg">
    <div class="w-11/12 py-4 h-fit flex justify-between items-center mx-auto">
        <div class="flex gap-4">
            <a routerLink="/" routerLinkActive="text-(--main)" [routerLinkActiveOptions]="{exact: true}">Juegos</a>
            @if(_isAuthenticated){
                <a routerLink="/price-alerts" routerLinkActive="text-(--main)">Mis alertas</a>
            }
        </div>
        
        <button (click)="authAction()" class="px-2 py-1.5 bg-(--main) rounded-sm cursor-pointer">
        @if(_isAuthenticated){
            <span class="sm:inline hidden">Cerrar sesión</span>
            <span class="sm:hidden">
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e5e5e5"><path d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h280v80H200v560h280v80H200Zm440-160-55-58 102-102H360v-80h327L585-622l55-58 200 200-200 200Z"/></svg>
            </span>
        }@else{
            <span class="sm:inline hidden">Iniciar sesión</span>
            <span class="sm:hidden">
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e5e5e5"><path d="M480-120v-80h280v-560H480v-80h280q33 0 56.5 23.5T840-760v560q0 33-23.5 56.5T760-120H480Zm-80-160-55-58 102-102H120v-80h327L345-622l55-58 200 200-200 200Z"/></svg>
            </span>
        }
        </button>
    </div>
</div>