tr{
  height: 2rem;
  padding: 10px;
  border-bottom-width: 1px;
  border-color: var(--surface-2);
}

thead tr{
  border: 0;
}

th {
  padding: 0.5rem 0.75rem;
  text-align: left;
  background-color: var(--surface-2);
}

td {
  padding: 0.5rem 0.75rem;
  background-color: var(--surface-1);
  text-align: left;
  height: 100%;
}

tr:hover > *{
  background-color: var(--surface-2);
}

.old-price{
  color: var(--text-muted);
  text-decoration: line-through;
}