@if (games$ | async; as games) {
    @if(games.data === undefined || games.data.numberOfElements == 0){
        <span class="text-(--text-muted)">No se encontraron resultados</span>
    }@else{
        <div class="overflow-hidden rounded-sm">
            <table class="hidden md:table md:table-fixed w-full border-collapse">
                <thead>
                    <tr>
                        <th class="w-[6%]"></th>
                        <th class="lg:w-[63%] w-[59]">Juego</th>
                        <th class="lg:w-[13%] w-[15%]">Precio</th>
                        <th class="w-[9%]">%</th>
                        <th class="w-[11%] lg:w-[9%]"></th>
                    </tr>
                </thead>
        
                <tbody>
                    @for (game of games.data!.content; track game.id) {
                        <tr class="group">
                            <td>
                                <app-button-price-alert [game]="game"></app-button-price-alert>
                            </td>
        
                            <td>
                                <div class="flex gap-2 items-center">
                                    <img class="mr-1" width="92" height="43" [ngSrc]="game.img" [alt]="game.name" />
        
                                    <div class="flex gap-2 game-name items-center">
                                        <span class="game-name">
                                            {{ game.name }}
                                        </span>
                                    </div>
                                </div>
                            </td>
        
                            @if(game.priceInfo == undefined){
                                <td>-</td>
                                <td>-</td>
                            }@else{
                                <td>
                                    <div class="flex flex-col">
                                        @if(game.priceInfo.discount > 0){
                                            <span class="old-price">{{ (game.priceInfo.initialPrice/100) | currency}}</span>
                                        }
                                        <span>{{ (game.priceInfo.finalPrice/100) | currency}} USD</span>
                                    </div>
                                </td>
                                
                                <td>
                                    <span [class.text-green-500]="game.priceInfo.discount > 0">
                                        -{{game.priceInfo.discount > 0 ? game.priceInfo.discount+"%" : ''}}
                                    </span>
                                </td>
                            }
        
                            <td>
                                <div class="mx-auto w-fit">
                                    <app-steam-store-link [gameSteamUrl]="game.steamUrl"></app-steam-store-link>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    
        <div class="md:hidden grid sm:grid-cols-2 gap-6 w-fit sm:w-full">
            @for (game of games.data!.content; track game.id) {                
                <app-game-card [game]="game"></app-game-card>
            }
        </div>
    
        <div class="ml-auto w-fit mt-4">
            <app-pagination [actualPage]="page()" (actualPageChange)="page.set($event)" [totalPages]="games.data!.totalPages"></app-pagination>
        </div>
    }
}
