@let _game = game();

<div class="flex flex-col bg-(--surface-1) hover:bg-(--surface-2) rounded-sm">
    <div>
        <img class="rounded-t-sm w-full" [src]="_game.img" [alt]="_game.name">
    </div>

    <div class="flex justify-between items-end mt-1 p-3 h-full">
        <div class="grow flex flex-col justify-between h-full">
            <span class="_game-name">{{_game.name}}</span>

            @if(_game.priceInfo == undefined){
            <span>-</span>
            }@else{
            <div class="flex flex-col justify-end">
                @if(_game.priceInfo.discount > 0){
                <span class="old-price">{{_game.priceInfo.initialPrice/100 | currency}}</span>
                }
                <div class="flex gap-2 items-center">
                    <span>{{_game.priceInfo.finalPrice/100 | currency}} USD</span>
                    <span [class.text-green-500]="_game.priceInfo.discount > 0">
                        {{_game.priceInfo.discount > 0 ? "-"+_game.priceInfo.discount+"%" : ''}}
                    </span>
                </div>
            </div>
            }
        </div>

        <div class="flex flex-col justify-between items-center h-full gap-4">
            <app-button-price-alert [game]="_game"></app-button-price-alert>
            <app-steam-store-link [gameSteamUrl]="_game.steamUrl"></app-steam-store-link>
        </div>
    </div>
</div>