@let _game = game();

<article class="game-card">
    <div class="game-cover">
        <img fill [ngSrc]="_game.img" [alt]="'Portada de ' + _game.name" sizes="(max-width: 640px) 100vw, (max-width: 1024px) 50vw, 33vw">
    </div>

    <div class="game-details">
        <h2 class="game-name text-[0.9rem] lg:max-[1200px]:text-[0.82rem]" [title]="_game.name">{{ _game.name }}</h2>

        <div class="game-card-footer">
          <div class="price-summary">
            <div class="game-price">
                @if (_game.priceInfo === undefined) {
                    <span class="text-(--text-muted)">Precio no disponible</span>
                } @else {
                    @if (_game.priceInfo.discount > 0) {
                        <span class="old-price">{{ _game.priceInfo.initialPrice / 100 | currency:'USD' }}</span>
                    }
                    <span class="current-price-row">
                        <div>
                            <span class="current-price" [class.discount-price]="_game.priceInfo.discount > 0">{{ _game.priceInfo.finalPrice / 100 | currency:'USD' }}
                            </span>
                            <span class="font-bold" [class.discount-price]="_game.priceInfo.discount > 0">USD</span>
                        </div>
                        @if (_game.priceInfo.discount > 0) {
                            <span class="discount-text">-{{ _game.priceInfo.discount }}%</span>
                        }
                    </span>
                }
            </div>

          </div>

            <div class="game-actions gap-1.5 lg:max-[1200px]:gap-1">
                <app-button-price-alert [game]="_game" (alertDeleted)="deletedFromAlert.emit($event)"></app-button-price-alert>
                <app-steam-store-link [gameSteamUrl]="_game.steamUrl"></app-steam-store-link>
            </div>
        </div>
    </div>
</article>
