@import "tailwindcss";

:root {
  --main: #3e6d96;
  
  --bg-main: #0f1216;
  --bg-secondary: #1a1b1b;
  
  --action: #232425;

  --text-main: #e5e5e5;
  --text-muted: #94a3b8;
}

body{
  background-color: var(--bg-main);
  font-family: 'Roboto', sans-serif;
  color: var(--text-main)
}